.navbar {
    background: url('./img/topbar.jpeg');
    background-size: cover;
    height:10%;
    border-bottom: 4px groove rgb(70,147,157);
    padding: 0.3% 0;
    font-size: 1,2em;
    min-height: 70px
}
.navbar-brand {
    position: absolute;
    height: 100%;
    padding: 0 15px 10px;
    margin-bottom:-10px;
    margin-top:10px;
    color: white !important;
    font-family: 'Bungee Shade', cursive;
}
.navbar-brand-image {
    height: 115%;
}
.navbar-list {
    text-align: center
}
.nav-link {
    color:white !important;
    font-size:20px;
    margin-right:30px;
}
.nav-link:hover {
    color: rgb(196,255,248) !important
}
.navbar-toggler-icon {
    color:white !important;
    background-image: url('./img/toggler.png') !important
}